#profile {
	float: left;
	clear: both;
	margin-right: 8px;
	margin-bottom: 8px;
}

#center-section > * {
	clear: both;
}

@media ( min-width : 600px) {
	#page-content {
		display: table;
	}
	#center-section {
		width: 70%;
		display: table-cell;
	}
	#twitter-section {
		border-left: 2px solid #5D0201;
		display: table-cell;
		width: 30%;
	}
}

@media ( max-width : 600px) {
	#twitter-section {
		border-top: 2px solid #5D0201;
	}
}