#banner {
	height: 128px;
	background: url("res/banner.jpg");
	background-position: center;
	background-size: cover;
}

#banner-logo {
	height: 100%;
}

@media ( max-width : 600px) {
	#banner {
		height: 75px;
	}
}