* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: #DDC;
	background-image: url("res/background.png");
	font-family: Arial, Helvetica, sans-serif;
	min-width: 256px;
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

p {
	margin-top: 0;
}

.bounded-content {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#page-content {
	background: white;
}

#shadow-wrapper {
	padding: 0 16px 16px 16px;
}

.shadow {
	box-shadow: 0 0 12px black;
	-webkit-box-shadow: 0 0 12px black;
	-moz-box-shadow: 0 0 12px black;
}

.maroon-border {
	border: 2px solid #5D0201;
}